# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
.eclipse
pmd_report.html
*/bin
target
patchprocess
derby.log
/.idea
*.iml
nb-configuration.xml
.DS_Store
/release/*
/bin/apache*
/bin/jdk*
/lib.bk
/stderr
/stdout
/release_dev
/release_tar.tar.gz
/release_tar/*
/huatuo.jar
/src/main/java/com/iwaimai/huatuo/log/*.java
/src/main/resources/*
/src/main/scala/com/iwaimai/examples/Test*.scala
/sbin/test*.sh
/logs